@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
    font-family: "Happy Monkey", system-ui;
    text-align: center;
    color: white;
    background: linear-gradient(#a2d2ff, #efb0c9)
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #efb0c9;
}

#bday-age {
    background-color: #efb0c9;
    border-radius: 6px;
    padding: 6px;
    width: 150px;
    margin-bottom: 10px;

}

#bday-date {
    background-color: #efb0c9;
    padding: 6px;
    border-radius: 6px;
    width: 100px;
    margin-top: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-img {
    width: 400px;
    border: solid 6px;
    border-radius: 10px;
    height: 400px;
    margin: auto;
    background-image: url(./images/gift-cover.jpg);
    background-size: cover;
}

.gift-img-happy:hover {
    background-image: url(./images/happy.gif);
}

.gift-img-hot:hover {
    background-image: url(./images/hot.gif);
}

.gift-img-genius:hover {
    background-image: url(./images/genius.gif);
}



.gift-img-badass:hover {
    background-image: url(./images/badass.gif);
}

.gift-img-cheers {
    width: 400px;
    border: solid 6px;
    border-radius: 10px;
    height: 200px;
    margin: auto;
    background-image: url(./images/gift-cover.jpg);
    background-size: cover;
}

.gift-img-cheers:hover {
    background-image: url(./images/cheers.gif);
}

footer {
    max-width: 400px;
    margin: auto;
}